html,
body,
header,
#intro {
  height: 100%;
}

#intro {
  /* background: url("https://onedrive.live.com/embed?resid=305DDB16B8500DDD%212602&authkey=%21AEAt0nbUEp1A434&width=4000&height=3000")no-repeat center center fixed;*/
  background-image: url("../img/C11.webp");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar {
  background-color: rgb(141, 153, 180);
  filter: alpha(opacity=70);

  -moz-opacity: 0.6;
  opacity: 0.6;
}
.top-nav-collapse {
  background-color: rgb(141, 153, 180);
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355c;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355c;
  }
}
